<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top py-3 animate__animated animate__fadeInDown animate__fast">
<div class="container">
<a routerLink="/" class="logo navbar-brand">
<img src="assets/img/logo.png" alt="">
<span class="navtext ml-1">Thrift.ng</span>
</a>
<ul class="navbar-nav float-between ml-auto">
<li class="nav-item">
<button class="btn btn-sm font-weight-bold px-3 py-2 log">SIGNUP PAGE <i class="fas fa-plus"></i></button>
</li>
</ul>     
</div>
</nav>

<router-outlet></router-outlet>

