<section>
<div class="container-fluid">
<div class="row mt-5 ml-2">
<div class="col">


<img (click)="profile()"  [src]="baseurl+profilepic" alt=".." class=" float-right mr-3 rounded-circle" style="width: 60px; height: 60px;"><br>
<small class="tx" data-toggle="tooltip" data-placement="top" title="Click to check your profile"><i class="fas fa-hand-spock"></i> Hello {{lastname}}</small><br>
<small class="font-weight-bold fon">Wallet Balance</small>
<p  class="tx" data-toggle="tooltip" data-placement="top" title="Click to add Funds to your wallet" (click)="fund()">₦{{balance}}.00</p> 
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-lg-6 d-flex flex-column text-center justify-content-center animate__animated animate__fadeIn animate__slower mt-4 mb-2">
<h5 class="justify-content-center font-weight-bold">Create a thrift and <br>start inviting your friends</h5>
<div>
<div class="text-center text-lg-start">
<a (click)="creatThrift()" class="btn inp text-white font-weight-bold d-inline-flex align-items-center justify-content-center align-self-center">
<span>Get started</span>
<i class="bi bi-arrow-right"></i>
</a>
</div>
</div>
</div>
<div class="col-lg-6 hero-img animate__animated animate__zoomIn animate__slower mt-5">
<img src="assets/img/features-2.png" class="img-fluid" alt="">
</div>
</div>
</div>
</section>

